body{
    background-color: rgb(41, 41, 41);
}


.container{
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

header{
    border-radius: 8px;
    background-color:rgb(22, 24, 29) ;
    color: honeydew;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.navlink{
    font-size: 25px;
    color: lightcyan;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

nav{
    border-radius: 3px;
    background-color: rgb(31, 31, 31);
    height: 40px;
    color: honeydew;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    text-align: center;
} 

.box{
    color: honeydew;
    height: 200px;
    width: auto;
    text-align: center;
}

.box .source{
    text-align: left;
    font-size: 20px;
    color: black;
}

.text-box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    width: 400px;
}