{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/styles/index-style.css' %}">
    {%block style%}{% endblock %}
</head>


<body>
    <header>
        <h1>IOT Home Automation</h1>
    </header>
    <br>
    <nav>
        <a class = "navlink" href="{% url 'home' %}">Home</a>
        <a class = "navlink" href="{% url 'control' %}">Contol-Panel</a>
        <a class = "navlink" href="{% url 'login' %}">Login</a>
        <a class = "navlink" href="{% url 'about' %}">About</a>
        <a class = "navlink" href="{% url 'contact' %}">Contact</a>
    </nav>
    <br>
    {% block main_body%}{% endblock %}
</body>
</html>