{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/styles/index-style.css' %}">
</head>


<body>
    <header>
        <h1>IOT Home Automation</h1>
    </header>
    <br>
    <nav>
        <a class = "navlink" href="/index/">Home</a>
        <a class = "navlink" href="/control-panel/">Contol-Panel</a>
        <a class = "navlink" href="#">Login</a>
        <a class = "navlink" href="/about/">About</a>
        <a class = "navlink" href="/contact">Contact</a>
    </nav>
    <br>
</body>
</html>