{% extends 'base.html' %}
{%load static%}
{% block page_title %}Control Panel{% endblock  %}
{%block style %}
<link rel="stylesheet" href="{% static 'main/styles/control.css' %}">
{%endblock%}
{%block main_body%}
    <main>
        <ol>
            {%for item in devices%}
            <l>
                <div class="listitem">
                 <div class="column">
                    <img src="" alt="Image of light bulb">
                 </div>
                 <div class="column">
                     <h2 class ="name"><a id="name-link" href="{%url 'details' item.id%}">{{item.name}}</a></h2>
                </div>
                <div class="column">
                    <h2 style="text-align: center;">Status</h2>
                    <div 
                        class=
                        {% if item.status %}
                            "statuson"
                        {%else%}
                            "statusoff"
                        {% endif %}
                    >
                        <h2>
                        {% if item.status %}
                            On
                        {%else%}
                            Off
                        {% endif %} 
                            
                        </h2>
                    </div> 
                </div>
                <div class="column">
                     <div class = "on">
                        <h2>On</h2>
                     </div>
                     <br>
                     <div class="off">
                        <h2>Off</h2>
                     </div>
                </div>
                </div>
            </l>
            <br>
            {%endfor%}
        </ol>
    </main>
{%endblock%}